.content__arrow {
    display: block;
    margin-left: 24px;
    margin-top: 16px;
    width: 200px;
    font-family: "TT Lakes";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .content__arrow::before {
    content: "";
    border-left: 2px solid #41f6d7;
    border-top: 2px solid #41f6d7;
    width: 5px;
    height: 5px;
    transform: rotate(-135deg);
    margin-top: 3px;
    margin-right: -16px;
    float: left;
  }
  .content__arrow::after {
    content: "";
    border-left: 2px solid #41f6d7;
    border-top: 2px solid #41f6d7;
    width: 5px;
    height: 5px;
    transform: rotate(-135deg);
    margin-top: 10px;
    margin-right: 16px;
    float: left;
  }