.button__arrow {  
  transition: 0.5s;
}
.button__arrow:hover{
  transform: scale(1.1);
}
.button__arrow::before {
  content: "";
  border-left: 2px solid #41f6d7;
  border-top: 2px solid #41f6d7;
  width: 5px;
  height: 5px;
  transition: rotate 1s;
  transform: rotate(-135deg);
  margin-top: 3px;
  margin-right: -16px;
  float: left;
}
.button__arrow::after {
  content: "";
  border-left: 2px solid #41f6d7;
  border-top: 2px solid #41f6d7;
  width: 5px;
  height: 5px;
  transition: rotate 1s;
  transform: rotate(-135deg);
  margin-top: 10px;
  margin-right: 16px;
  float: left;
}
.button__arrow_hide{
  display: none;
}

.button__arrow_open::after{
  transition: 1s;
  transform: rotate(45deg) translate(0px,0px);
}
.button__arrow_open::before{
  transition: 1s;
  transform: rotate(45deg) translate(0px,0px);
}
