.button {
  min-width: fit-content;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: box-shadow 0.5s;

  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background: #FFF;
}
.button_type_circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff3e79;
  transition: 0.25s;
}
.button_type_circle:hover{
  transform: scale(0.9) rotate(5deg);
  box-shadow: 0 0 10px 0 rgba(150,150,150,0.5), 0 0 15px 0px rgba(20,20,20,0.5);
}
.button_type_border {
  width: 40px;
  height: 40px;
  padding: 8px 16px;
  background: #f8f8f8;
  color: #7e7e82;
}
.button_type_border_active {
  padding: 8px 16px;
  background: #fff;
  color: #7e7e82;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.button_type_text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;
  background: #FFF;
  font-weight: 500;
  z-index: 100;
}
.button_type_text:hover{
  color: #7e7e82;
  transition: 0.3s;
}
.button_type_text::after{
  position: absolute;
  content: attr(data-name);
  font-size: 24px;
  font-weight: bold;
  color: #82827e;
  opacity: 0;
  transition: 0.2s;
  z-index: 99;
}
.button_type_text:hover::after{
  opacity: 0.4;
  transform-origin: bottom left;
  transform: translate(20px, -25px);  
}
.button_type_text::before{
  position: absolute;
  opacity: 0;
  content:"";
  float:left;
  width: 4px;
  height: 32px;
  left: 0px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background: #41F6D7;
}
.button_type_text:hover::before{
  opacity: 1;
  transition: 1s;
}
.button__text {
  color: #1b1c21;
  font-weight: 500;
}
/* ------------- SET ICON ---------------------- */
.upper-menu__button-burger {
  background-image: url("../img/ico/burger.svg");
}
.upper-menu__button-call, .mobile-menu__button-call {
  background-image: url("../img/ico/call.svg");
}
.upper-menu__button-chat, .mobile-menu__button-chat {
  background-image: url("../img/ico/chat.svg");
}
.upper-menu__button-profile, .mobile-menu__button-profile {
  background-image: url("../img/ico/profile.svg");
}
.upper-menu__button-repair {
  background-image: url("../img/ico/repair.svg");
}
.upper-menu__button-checkstatus {
  background-image: url("../img/ico/checkstatus.svg");
}
.menu-small__button-repair {
  background-image: url("../img/ico/repair.svg");
}
.menu-small__button-checkstatus {
  background-image: url("../img/ico/checkstatus.svg");
}
.mobile-menu__button-close{
  background-image: url("../img/ico/close.svg");
}
.mobile-menu__button-search{
  background-image: url("../img/ico/search.svg");
}
