.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:40px;
  width: 320px;
  height: 100%;
  background: #fff;
}
.mobile-menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background: #fff;
}
.mobile-menu__logo{
  position:relative;
  left:-35px;
}
.mobile-menu__navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}
.mobile-menu__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:16px;
  padding-left:24px;
  padding-bottom: 40px;
}
.mobile-menu__footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  
}
.mobile-menu__tel{
  text-decoration: none;
  color:#1B1C21;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.6px;
  cursor: pointer;
}
.mobile-menu__mail{
  text-decoration: none;
  color:#1B1C21;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  cursor: pointer;
}
.mobile-menu__lang-switcher{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  margin-top:40px;
}
.lang-switcher__radio{
  display: none;
}
.lang-switcher__label{
  content: attr(value);
  color:#1B1C21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  cursor: pointer;
	user-select: none;   
}
.lang-switcher__radio:checked + label{
  color: #7E7E82;
}

